<div class="card">
    
    <div class="card-body">
<form [formGroup]="formUser"  (ngSubmit)="procesar()">
        <div class="mb-2">
            <label for="form-label">
                nombre
            </label>
            <input type="text" formControlName= "name" class="form-control" placeholder="ingresa nombre">
            
        
        <div class="alert alert-danger mb-2" [hidden]="name.valid || email.pristine">
                campo obligatorio
        </div>
         
        
        </div>
<br>
        
        <div class="mb-2">
            <label for="form-label">
                Correo
            </label>
            <input type="email"formControlName= "email" class="form-control" placeholder="ingresa correo"> 
        
            <div class="alert alert-danger mb-2" [hidden]="name.valid || email.valid "> 
              <span *ngIf="email.valid">email es obligatorio</span>
              <span *ngIf="email.valid ">email es validoo</span> 
                        </div>
                        
        
        <!-- </div>  -->
    </div>
    

        <button class="btn btn-primary" [disabled]="formUser.invalid">Enviar</button>
    </form>
    </div>
    
    <!-- {{email.value}} <br>
{{email.errors | json}} -->
</div>

{{formUser.get('email')?.value}}
{{formUser.get('name')?.value}}